<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" *ngIf="links.first"><a class="page-link" href="#">First</a></li>
    <li class="page-item" *ngIf="links.prev"><a class="page-link" href="#">Prev</a></li>
    <li class="page-item" *ngIf="links.self"><a class="page-link" href="#">Self</a></li>
    <li class="page-item" *ngIf="links.next"><a class="page-link" href="#">Next</a></li>
    <li class="page-item" *ngIf="links.last"><a class="page-link" href="#">Last</a></li>
  </ul>
</nav>